*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

:root {
  --bs:0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.15);
}

.container-1 {
  max-width: 1000px;
  margin: 30px auto 0 auto;
  padding: 20px 30px;
  border-radius: 10px;
  background: #303030 !important;
  color: #fff;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
}

.container-1 form .form-box {
  margin: 20px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: auto 2fr;
      grid-template-columns: auto 2fr;
}

.container-1 form .form-box label {
  text-transform: capitalize;
  padding: 5px;
}

.container-1 form .form-box input {
  padding: 5px;
  border-radius: 5px;
  border: 0;
  outline: none;
}

@media (max-width: 900px) {
  .container-1 form .form-box {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .container-1 > form .form-box > label {
    display: none;
  }
  .container > form .form-box > input {
    margin-left: 0;
  }
}

.column-layout {
  max-width: 1200px;
  margin: 40px auto 0 auto;
  padding: 20px 50px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
      grid-template-areas: 'mainbar'  'sidebarone' 'sidebartwo';
}

.column-layout .sidebar-one {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebarone;
  text-align: justify;
}

.column-layout .mainbar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: mainbar;
  text-align: justify;
}

.column-layout .sidebar-two {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sidebartwo;
  text-align: justify;
}

@media (min-width: 900px) {
  .column-layout {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'sidebarone mainbar sidebartwo';
  }
}

.cards {
  max-width: 1200px;
  margin: 40px auto 0 auto;
  padding: 20px 50px;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.cards .card {
  border-radius: 10px;
  padding: 10px 15px;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
}

.cards .card + .card {
  margin-top: 20px;
}

.cards .one {
  background-color: #c0dbe3;
}

.cards .two {
  background-color: #cdf1c3;
}

.cards .three {
  background-color: #ccd9da;
}

@media (min-width: 900px) {
  .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .cards .card + .card {
    margin: 0;
  }
  .cards .card:first-child {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

.numbers {
  display: -ms-grid;
  display: grid;
  max-width: 1200px;
  margin: 40px auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  background: #303030;
  border-radius: 10px;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  padding: 20px 50px;
}

.numbers .box {
  border-radius: 10px;
  height: 100px;
  width: 100px;
  color: #fff;
  background: tomato;
}

.numbers .box p {
  text-align: center;
  margin: auto;
  font-size: 50px;
  padding: 20px;
  font-weight: bold;
}

.container-2 {
  max-width: 1000px;
  background-color: powderblue;
  height: 300px;
  margin: 0 auto 40px auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.column-row {
  max-width: 1200px;
  margin: 0 auto 20px auto;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.column-row .column {
  background: red;
  padding: 20px 30px;
}

.column-row .row {
  background: lemonchiffon;
}

.column-row .row .div-a {
  background: lightcoral;
  padding: 20px;
}

.column-row .row .div-b {
  background: lightgreen;
  padding: 20px;
}

@media (min-width: 900px) {
  .column-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .column-row .row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */