*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

:root {
        --bs:0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.15);
}

.container-1 {
    max-width: 1000px;
    margin: 30px auto 0 auto;
    padding: 20px 30px;
    border-radius: 10px;
    background: #303030 !important;
    color: #fff;
    box-shadow: var(--bs);

    form .form-box {
        margin: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: auto 2fr;

        label {
            text-transform: capitalize;
            padding: 5px;
            
        }

        input {
            padding: 5px;
            border-radius: 5px;
            border: 0;
            outline: none;
        }
    }
}

@media (max-width: 900px) {
    .container-1 {
        form .form-box {
            grid-template-columns: auto;
        }
    }
    .container-1 > form .form-box > label {
        display: none;
    }

    // check this out before closing
    .container > form .form-box > input {
        margin-left: 0;
    }
}

.column-layout {
    max-width: 1200px;
    margin: 40px auto 0 auto;
    padding: 20px 50px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 'mainbar' 
                        'sidebarone'
                        'sidebartwo'
    ;

    .sidebar-one {
        grid-area: sidebarone;
        text-align: justify;
    }

    .mainbar {
        grid-area: mainbar;
        text-align: justify;
    }

    .sidebar-two {
        grid-area: sidebartwo;
        text-align: justify;
    }
}

@media (min-width: 900px) {
    .column-layout {
        display: grid;
        grid-template-areas: 'sidebarone mainbar sidebartwo';
    }
}

.cards {
    max-width: 1200px;
    margin: 40px auto 0 auto;
    padding: 20px 50px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(1, 1fr);

    .card {
        border-radius: 10px;
        padding: 10px 15px;
        box-shadow: var(--bs);
    }

    .card + .card {
        margin-top: 20px;
    }

    .one {
        background-color: #c0dbe3;
    }

    .two {
        background-color: #cdf1c3;
    }

    .three {
        background-color: #ccd9da;
    }
}

@media (min-width:900px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .card + .card {
            margin: 0;
        }

        .card:first-child {
            align-self: start;
        }
    }
}

.numbers {
    display: grid;
    max-width: 1200px;
    margin: 40px auto;
    justify-content: space-around;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    background: #303030;
    border-radius: 10px;
    box-shadow: var(--bs);
    padding: 20px 50px;

    .box {
        border-radius: 10px;
        height: 100px;
        width: 100px;
        color: #fff;
        background: tomato;

        p {
            text-align: center;
            margin: auto;
            font-size: 50px;
            padding: 20px;
            font-weight: bold;
        }
}

}

.container-2 {
    max-width: 1000px;
    background-color: powderblue;
    height: 300px;
    margin: 0 auto 40px auto;
    display: grid;
    box-shadow: var(--bs);
    justify-content: center;
    align-content: center;
}

.column-row {
    max-width: 1200px;
    margin: 0 auto 20px auto;
    padding: 20px;
    display:  grid;
    grid-template-columns: repeat(1, 1fr);

    .column {
        background: red;
        padding: 20px 30px;
    }

    .row {
        background: lemonchiffon;

        .div-a {
            background: lightcoral;
            padding: 20px;
        }

        .div-b {
            background: lightgreen;
            padding: 20px;
        }
    }

}

@media (min-width: 900px) {
    .column-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .row {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}